# Pandas

| Función      | Descripción                                                                                     |
|--------------|-------------------------------------------------------------------------------------------------|
| read_csv     | Carga datos delimitados desde un archivo o URL, la coma (',') es el delimitador predeterminado |
| read_table   | Carga datos delimitados desde un archivo o URL, la tabulación ('\t') es el delimitador predeterminado |

## Creación de un DataFrame

In [3]:
import pandas as pd

# lectura desde URL
url = "https://gist.githubusercontent.com/w-dan/b84bdbfbd86b610a89aa0aa57e6efb5e/raw/aeaffaa9d26c66678b697ecb9fd99fd0c8eaca52/papers.csv"
df = pd.read_csv(url)

# mostrar dataframe
df

,id,title,abstract,Unnamed: 3,keywords,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,1,Ensemble Statistical and Heuristic Models for ...,Statistical word alignment models need large a...,NaN,"statistical word alignment, ensemble learning,...",NaN,NaN,NaN
1,2,Improving Spectral Learning by Using Multiple ...,Spectral learning algorithms learn an unknown ...,NaN,"representation, spectral learning, discrete fo...",NaN,NaN,NaN
2,3,Applying Swarm Ensemble Clustering Technique f...,Number of defects remaining in a system provid...,NaN,"software defect prediction, particle swarm opt...",NaN,NaN,NaN
3,4,Reducing the Effects of Detrimental Instances,Not all instances in a data set are equally be...,NaN,"filtering, label noise, instance weighting",NaN,NaN,NaN
4,5,Concept Drift Awareness in Twitter Streams,Learning in non-stationary environments is not...,NaN,"twitter, adaptation models, time-frequency ana...",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
443,444,A Machine Learning Tool for Supporting Advance...,"In the current era of big data, high volumes o...",NaN,"machine-learning,unsupervised-learning,knowled...",NaN,NaN,NaN
444,445,Advanced ECHMM-Based Machine Learning Tools fo...,We present a novel approach for accurate chara...,NaN,"workload characterization,hmm,cepstral coeffic...",NaN,NaN,NaN
445,446,A Cluster Analysis of Challenging Behaviors in...,"We apply cluster analysis to a sample of 2,116...",NaN,"cluster analysis,autism spectrum disorder,chal...",NaN,NaN,NaN
446,447,Predicting Psychosis Using the Experience Samp...,Smart phones have become ubiquitous in the rec...,NaN,"predicting psychosis,esm,mhealth,svm,gaussian ...",NaN,NaN,NaN
447,448,Bayesian Nonparametric Clustering of Patients ...,Bayesian nonparametric (BNP) statistical techn...,NaN,"bayes methods,monte carlo methods,numerical si...",NaN,NaN,NaN

Parece que tiene muchos valores nulos... Vamos a intentar deshacernos de ellos para obtener un DataFrame más limpio:

# Ejemplo de limpieza de un DataFrame

## Método *drop*

Parámetros:
- `labels`: **array** con los nombres de las columnas a borrar
- `axis`: **entero** (1=columna, 0=fila)

Devuelve:
- `DataFrame` sin las columnas (o filas) especificadas

In [4]:
df = df.drop(['Unnamed: 3', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7'], axis=1)

df

,id,title,abstract,keywords
0,1,Ensemble Statistical and Heuristic Models for ...,Statistical word alignment models need large a...,"statistical word alignment, ensemble learning,..."
1,2,Improving Spectral Learning by Using Multiple ...,Spectral learning algorithms learn an unknown ...,"representation, spectral learning, discrete fo..."
2,3,Applying Swarm Ensemble Clustering Technique f...,Number of defects remaining in a system provid...,"software defect prediction, particle swarm opt..."
3,4,Reducing the Effects of Detrimental Instances,Not all instances in a data set are equally be...,"filtering, label noise, instance weighting"
4,5,Concept Drift Awareness in Twitter Streams,Learning in non-stationary environments is not...,"twitter, adaptation models, time-frequency ana..."
...,...,...,...,...
443,444,A Machine Learning Tool for Supporting Advance...,"In the current era of big data, high volumes o...","machine-learning,unsupervised-learning,knowled..."
444,445,Advanced ECHMM-Based Machine Learning Tools fo...,We present a novel approach for accurate chara...,"workload characterization,hmm,cepstral coeffic..."
445,446,A Cluster Analysis of Challenging Behaviors in...,"We apply cluster analysis to a sample of 2,116...","cluster analysis,autism spectrum disorder,chal..."
446,447,Predicting Psychosis Using the Experience Samp...,Smart phones have become ubiquitous in the rec...,"predicting psychosis,esm,mhealth,svm,gaussian ..."
447,448,Bayesian Nonparametric Clustering of Patients ...,Bayesian nonparametric (BNP) statistical techn...,"bayes methods,monte carlo methods,numerical si..."

## Método unique

Método de la clase `column` de pandas

Devuelve:
- Array con los valores únicos de una columna

In [5]:
df['id'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
       417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
       430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442,
       443, 444, 445, 446, 447, 448], dtype=int64)

## Método nunique


Análogo a unique

Devuelve:
- un `entero` que corresponde al número de valores distintos de la columna

In [6]:
df['id'].nunique()

448

Equivale a:

In [7]:
len(df['id'].unique())

448

## Método isnull

In [8]:
df.isnull().sum()

id          0
title       0
abstract    0
keywords    0
dtype: int64

## Método apply

In [9]:
df['abstract_length'] = df['abstract'].apply(lambda x: len(x.split()))

df

,id,title,abstract,keywords,abstract_length
0,1,Ensemble Statistical and Heuristic Models for ...,Statistical word alignment models need large a...,"statistical word alignment, ensemble learning,...",110
1,2,Improving Spectral Learning by Using Multiple ...,Spectral learning algorithms learn an unknown ...,"representation, spectral learning, discrete fo...",100
2,3,Applying Swarm Ensemble Clustering Technique f...,Number of defects remaining in a system provid...,"software defect prediction, particle swarm opt...",111
3,4,Reducing the Effects of Detrimental Instances,Not all instances in a data set are equally be...,"filtering, label noise, instance weighting",193
4,5,Concept Drift Awareness in Twitter Streams,Learning in non-stationary environments is not...,"twitter, adaptation models, time-frequency ana...",174
...,...,...,...,...,...
443,444,A Machine Learning Tool for Supporting Advance...,"In the current era of big data, high volumes o...","machine-learning,unsupervised-learning,knowled...",200
444,445,Advanced ECHMM-Based Machine Learning Tools fo...,We present a novel approach for accurate chara...,"workload characterization,hmm,cepstral coeffic...",243
445,446,A Cluster Analysis of Challenging Behaviors in...,"We apply cluster analysis to a sample of 2,116...","cluster analysis,autism spectrum disorder,chal...",119
446,447,Predicting Psychosis Using the Experience Samp...,Smart phones have become ubiquitous in the rec...,"predicting psychosis,esm,mhealth,svm,gaussian ...",229
447,448,Bayesian Nonparametric Clustering of Patients ...,Bayesian nonparametric (BNP) statistical techn...,"bayes methods,monte carlo methods,numerical si...",195

# Concatenación y agrupamiento

In [10]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                    index=[8, 9, 10, 11])

df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                    index=[2, 3, 6, 7])

result = pd.concat([df1, df2, df3])
result

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

Supongamos que quisiéramos asociar claves específicas con cada una de las piezas del DataFrame cortado. Podemos hacer esto usando el argumento claves:

In [11]:
# concatenación creando nuevas claves
# equivalente pd.concat({'x': df1, 'y': df2, 'z': df3})
result = pd.concat([df1, df2, df3], keys=['x', 'y', 'z'])
result

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

In [12]:
result = pd.concat([df1, df4], ignore_index=True, sort=False)
result

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
4  NaN  B2  NaN  D2   F2
5  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

In [13]:
result = pd.concat([df1, df4], axis=1, sort=False)
result

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

## Agrupación

In [14]:
data = {'animal': ['cat', 'dog', 'bat', 'penguin'],
'num_legs': [4, 4, 2, 2],
'num_wings': [0, 0, 2, 2],
'class': ['mammal', 'mammal', 'mammal', 'bird'],
'locomotion': ['walks', 'walks', 'flies', 'walks']}
animals = pd.DataFrame(data)
animals

    animal  num_legs  num_wings   class locomotion
0      cat         4          0  mammal      walks
1      dog         4          0  mammal      walks
2      bat         2          2  mammal      flies
3  penguin         2          2    bird      walks

In [15]:
# por defecto axis=0
grouped = animals.groupby('class')
grouped.groups

{'bird': [3], 'mammal': [0, 1, 2]}

In [16]:
for name, group in grouped:
  print('Grupo: ' + str(name))
  print("-" * 40)
  print(group, end="\n\n")

Grupo: bird
----------------------------------------
    animal  num_legs  num_wings class locomotion
3  penguin         2          2  bird      walks

Grupo: mammal
----------------------------------------
  animal  num_legs  num_wings   class locomotion
0    cat         4          0  mammal      walks
1    dog         4          0  mammal      walks
2    bat         2          2  mammal      flies

In [17]:
print(grouped)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000175AEBDCD60>