# Regresión

Autores:
- Sergio de la Cruz
- Pablo Ramiro Foronda
- Luciano Pereyra

# Enunciado

En esta práctica, se os proporcionará un conjunto de datos con características de automóviles de segunda mano en distintos países. El objetivo es preprocesar los datos y construir un modelo capaz de predecir los precios de coches que nunca haya visto.

Además, se llevará a cabo una **competición** en kaggle, podéis inscribiros en este siguiente [enlace](https://www.kaggle.com/t/95194d38b1f9447fa9e3b51b8e9d575f)



La estructura del proyecto debe ser la siguiente:

- Carga y limpieza de los datos
- Visualización
- Preprocesamiento
- Pruebas de modelos (razonar sobre los resultados)
- Conclusiones
- Creación de submission


Se valorarán:

- Número y variedad de experimentos con sus conclusiones.
- Calidad del preprocesamiento (y su razonamiento).
- Capacidad de generalización del modelo final.
- Trabajo en equipo (en grupos de más de 1 integrante, claro).
- Creatividad en la solución.
- Claridad del .ipynb presentado en Moodle

# Carga y limpieza de los datos


Aunque se permite la carga de los datos de forma local, se recomienda emplear las siguientes URLs de gist por comodidad:

In [151]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder

In [152]:
train_url = "https://gist.githubusercontent.com/w-dan/9c2f9a30d0517c58a08d5a7ef42ef2dd/raw/ee85f61926c9aeae5863369a13bb67e182a702ba/training.csv"
test_url = "https://gist.githubusercontent.com/w-dan/9c2f9a30d0517c58a08d5a7ef42ef2dd/raw/ee85f61926c9aeae5863369a13bb67e182a702ba/test.csv"

In [153]:
train_df = pd.read_csv(train_url)
test_df = pd.read_csv(test_url)

In [154]:
train_df

,id,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,1,Chevrolet Spark 1.0 LT,2011,130000,68519,Petrol,Dealer,Manual,First Owner,16.2 kmpl,995 CC,62.1 bhp,90.3Nm@ 4200rpm,5.0
1,2,Hyundai Verna 1.6 SX CRDi (O),2017,1050000,70000,Diesel,Dealer,Manual,First Owner,22.32 kmpl,1582 CC,126.32 bhp,259.8Nm@ 1900-2750rpm,5.0
2,3,Mahindra Scorpio S10 7 Seater,2016,1100000,60000,Diesel,Individual,Manual,First Owner,15.4 kmpl,2179 CC,120 bhp,280Nm@ 1800-2800rpm,7.0
3,4,Hyundai EON 1.0 Kappa Magna Plus Optional,2018,350000,10000,Petrol,Individual,Manual,Second Owner,20.3 kmpl,998 CC,68.05 bhp,94.14Nm@ 3500rpm,5.0
4,5,Maruti Swift Dzire VDI,2014,490000,50000,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6904,6905,Hyundai i20 2015-2017 Asta Option 1.2,2016,650000,29000,Petrol,Individual,Manual,First Owner,18.6 kmpl,1197 CC,81.83 bhp,114.7Nm@ 4000rpm,5.0
6905,6906,Hyundai EON Sportz,2017,300000,10000,Petrol,Individual,Manual,First Owner,21.1 kmpl,814 CC,55.2 bhp,74.5Nm@ 4000rpm,5.0
6906,6907,Maruti Swift VDI Optional,2017,693000,58559,Diesel,Dealer,Manual,First Owner,25.2 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
6907,6908,Maruti Baleno Alpha 1.2,2017,580000,20000,Petrol,Individual,Manual,First Owner,21.4 kmpl,1197 CC,83.1 bhp,115Nm@ 4000rpm,5.0
6908,6909,Force One SX ABS 7 Seating,2018,1050000,13000,Diesel,Individual,Manual,First Owner,17.0 kmpl,2200 CC,139.01 bhp,321Nm@ 1600-2400rpm,7.0

In [155]:
pd.set_option('display.max_rows', 100)
train_df['marca'] = train_df['name'].str.split().str[0]
train_df['engine'] = train_df['engine'].str.split().str[0]
train_df['max_power'] = train_df['max_power'].str.split().str[0]
train_df['mileage'] = train_df['mileage'].str.split().str[0]

In [156]:
print(train_df.head(40).tail(5))
train_df = train_df.dropna()
train_df.head(40).tail(5)

    id                                      name  year  selling_price  \
35  36  Jaguar XE 2016-2019 2.0L Diesel Prestige  2017        2711000
36  37             Maruti Alto K10 2010-2014 VXI  2012         252000
37  38                    Hyundai Santro Xing GL  2009         120000
38  39               Maruti Ertiga SHVS ZDI Plus  2017         850000
39  40                Hyundai Santro Xing GL CNG  2007         127000

    km_driven    fuel seller_type transmission         owner mileage engine  \
35       9000  Diesel      Dealer    Automatic   First Owner    13.6   1999
36      48000  Petrol  Individual       Manual   First Owner   20.92    998
37      90000  Petrol  Individual       Manual  Second Owner     0.0   1086
38      40000  Diesel  Individual       Manual   First Owner   24.52   1248
39     137000     CNG  Individual       Manual   First Owner     NaN    NaN

   max_power               torque  seats    marca
35       177  430Nm@ 1750-2500rpm    5.0   Jaguar
36      67.1        90Nm@ 3500rpm    5.0   Maruti
37        62      96.1Nm@ 3000rpm    5.0  Hyundai
38      88.5       200Nm@ 1750rpm    7.0   Maruti
39       NaN                  NaN    NaN  Hyundai

,id,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,marca
35,36,Jaguar XE 2016-2019 2.0L Diesel Prestige,2017,2711000,9000,Diesel,Dealer,Automatic,First Owner,13.6,1999,177,430Nm@ 1750-2500rpm,5.0,Jaguar
36,37,Maruti Alto K10 2010-2014 VXI,2012,252000,48000,Petrol,Individual,Manual,First Owner,20.92,998,67.1,90Nm@ 3500rpm,5.0,Maruti
37,38,Hyundai Santro Xing GL,2009,120000,90000,Petrol,Individual,Manual,Second Owner,0.0,1086,62,96.1Nm@ 3000rpm,5.0,Hyundai
38,39,Maruti Ertiga SHVS ZDI Plus,2017,850000,40000,Diesel,Individual,Manual,First Owner,24.52,1248,88.5,200Nm@ 1750rpm,7.0,Maruti
40,41,Ford Figo Diesel LXI,2011,160000,120000,Diesel,Individual,Manual,First Owner,20.0,1399,68,160Nm@ 2000rpm,5.0,Ford

In [157]:


# fuel = OrdinalEncoder().fit_transform(train_df[['fuel']])
# seller_type = OrdinalEncoder().fit_transform(train_df[['seller_type']])
# marca = OrdinalEncoder().fit_transform(train_df[['owner']])
# owner = OrdinalEncoder().fit_transform(train_df[['marca']])
# df_fuel = pd.DataFrame(data = fuel, columns = ['fuel'])
# df_seller_type = pd.DataFrame(data = seller_type, columns = ['seller_type'])
# df_owner = pd.DataFrame(data = owner, columns = ['owner'])
# df_marca = pd.DataFrame(data = marca, columns = ['marca'])
# new_train_df = pd.concat([train_df, df_transmission, df_fuel, df_seller_type, df_owner], axis=1)

columns_to_encode = ['fuel', 'seller_type', 'owner', 'marca']
encoded_dfs = [df_transmission]
encoder = OrdinalEncoder()
for column in columns_to_encode:
    encoded_values = encoder.fit_transform(train_df[[column]])
    df_encoded = pd.DataFrame(data=encoded_values, columns=[column])
    encoded_dfs.append(df_encoded)
transmission = OneHotEncoder().fit_transform(train_df[['transmission']]).toarray()
df_transmission = pd.DataFrame(data = transmission, columns = ['Manual', 'Automatic'])
encoded_dfs.append(df_transmission)
# Concatenar los DataFrames originales con los codificados
new_train_df = pd.concat([train_df] + encoded_dfs, axis=1)

new_train_df

,id,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,...,seats,marca,Manual,Automatic,fuel,seller_type,owner,marca,Manual,Automatic
0,1.0,Chevrolet Spark 1.0 LT,2011.0,130000.0,68519.0,Petrol,Dealer,Manual,First Owner,16.2,...,5.0,Chevrolet,0.0,1.0,3.0,0.0,0.0,4.0,0.0,1.0
1,2.0,Hyundai Verna 1.6 SX CRDi (O),2017.0,1050000.0,70000.0,Diesel,Dealer,Manual,First Owner,22.32,...,5.0,Hyundai,0.0,1.0,1.0,0.0,0.0,11.0,0.0,1.0
2,3.0,Mahindra Scorpio S10 7 Seater,2016.0,1100000.0,60000.0,Diesel,Individual,Manual,First Owner,15.4,...,7.0,Mahindra,0.0,1.0,1.0,1.0,0.0,19.0,0.0,1.0
3,4.0,Hyundai EON 1.0 Kappa Magna Plus Optional,2018.0,350000.0,10000.0,Petrol,Individual,Manual,Second Owner,20.3,...,5.0,Hyundai,0.0,1.0,3.0,1.0,2.0,11.0,0.0,1.0
4,5.0,Maruti Swift Dzire VDI,2014.0,490000.0,50000.0,Diesel,Individual,Manual,First Owner,23.4,...,5.0,Maruti,0.0,1.0,1.0,1.0,0.0,20.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,1.0,1.0,1.0,2.0,11.0,0.0,1.0
6615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,1.0,3.0,1.0,0.0,11.0,0.0,1.0
6650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,1.0,1.0,1.0,0.0,28.0,0.0,1.0
6673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,0.0,3.0,2.0,0.0,10.0,1.0,0.0
6724,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,1.0,1.0,0.0,0.0,20.0,0.0,1.0

In [158]:
test_df

,id,name,year,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,1,Chevrolet Spark 1.0 LT,2011,68519,Petrol,Dealer,Manual,First Owner,16.2 kmpl,995 CC,62.1 bhp,90.3Nm@ 4200rpm,5.0
1,2,Hyundai Verna 1.6 SX CRDi (O),2017,70000,Diesel,Dealer,Manual,First Owner,22.32 kmpl,1582 CC,126.32 bhp,259.8Nm@ 1900-2750rpm,5.0
2,3,Mahindra Scorpio S10 7 Seater,2016,60000,Diesel,Individual,Manual,First Owner,15.4 kmpl,2179 CC,120 bhp,280Nm@ 1800-2800rpm,7.0
3,4,Hyundai EON 1.0 Kappa Magna Plus Optional,2018,10000,Petrol,Individual,Manual,Second Owner,20.3 kmpl,998 CC,68.05 bhp,94.14Nm@ 3500rpm,5.0
4,5,Maruti Swift Dzire VDI,2014,50000,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
808,809,Mahindra Xylo E4 BS III,2014,78000,Diesel,Individual,Manual,First Owner,11.68 kmpl,2498 CC,112 bhp,260Nm@ 1800-2200rpm,7.0
809,810,Maruti Swift Dzire VDI,2016,75000,Diesel,Individual,Manual,Second Owner,26.59 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
810,811,Maruti Swift VXI,2020,5000,Petrol,Individual,Manual,First Owner,21.21 kmpl,1197 CC,81.80 bhp,113Nm@ 4200rpm,5.0
811,812,Audi Q5 35TDI Premium Plus,2018,31800,Diesel,Dealer,Automatic,First Owner,17.01 kmpl,1968 CC,188 bhp,400nm@ 1750-3000rpm,5.0
812,813,Maruti Swift Dzire LDI,2018,50000,Diesel,Individual,Manual,First Owner,28.4 kmpl,1248 CC,74.02 bhp,190Nm@ 2000rpm,5.0

In [159]:
# LIMPIAR DATOS
# CONVERTIR VALORES STRING A NUMERICOS (transmission, owner, seller_type, fuel)
# elimiar unidades de engine, max_power, torque

# Visualización

# Preprocesamiento

# Pruebas de modelos

# Conclusiones

# Creación de *submission* para Kaggle